.container,
.skeleton {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	padding: 0.4rem 2rem;
	border-radius: 1rem;
}

.container {
	cursor: pointer;
	background-color: transparent;
	border: 1px solid var(--gray);
}

.skeleton {
	animation: 1s ease-in infinite var(--fade);
}

.skeleton * {
	color: transparent;
}

.container span {
	font-size: clamp(0.8rem, 2vw, 1.2rem);
	display: flex;
	align-items: center;
	gap: 1rem;
}

@media only screen and (max-width: 600px) {
	.fullSize * {
		display: none;
	}
}
