.container {
	display: grid;
	margin-inline: min(8vw, 12rem);
	gap: 1.5rem;
	padding-bottom: 5rem;
}

.container h1 {
	font-family: Roboto Mono;
	color: var(--gray);
	font-size: 2.5rem;
}

.listContainer {
	display: grid;
	gap: 0.5rem;
	list-style: none;
}

@media only screen and (max-width: 1200px) {
	.container {
		margin-inline: 2rem;
	}
}
