.formContainer {
	display: grid;
	place-items: center;
	padding-top: 8%;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	gap: 1rem;

	width: 100%;
	max-width: 40rem;
	padding-inline: 8vw;
}

.form div {
	display: grid;
	width: 100%;
	gap: 0.1rem;
}

.form div:last-of-type button {
	margin-left: auto;
}

.form label {
	font-family: Roboto Mono;
	font-size: 1rem;
}

.form button {
	margin-top: 1rem;
}

.form span.error {
	font-size: 1rem;
	color: var(--red);
	/* margin-right: auto; */
}

.form div.error {
	padding: 0.8rem;
	border-radius: 1rem;
	background-color: rgba(255, 110, 110, 200);
}
