.button,
.skeleton {
	border: 2px solid transparent;
	border-radius: 0.8rem;

	padding-inline: 1.4rem;
	padding-block: 0.6rem;

	font-family: Roboto Mono;
	font-size: 1.2rem;
	font-weight: 500;
	white-space-collapse: preserve;
	text-wrap: nowrap;

	text-decoration: none;
}

.skeleton {
	color: transparent;
	animation: 1s ease-in infinite var(--fade);
}

.button {
	text-align: center;
	cursor: pointer;
	background-color: rgb(31, 31, 31);
	border: 2px solid var(--gray);
}

.button:active {
	background-color: rgb(51, 51, 51);
}

.button:disabled {
	opacity: 0.1;
}

.active {
	border-color: white;
}
