.clickable,
.skeleton,
.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border-radius: 1.4rem;
}

.clickable {
	padding: 1.5rem 2rem;
	text-decoration: none;
	cursor: pointer;
}

.container {
	gap: 6rem;
	padding-right: 1rem;
	background-color: transparent;
	border: 1px solid var(--gray);
	text-decoration: none;
}

.skeleton {
	padding: 0.5rem 1.5rem;
	animation: 1s ease-in infinite var(--fade);
}

.skeleton * {
	color: transparent;
}

.container span {
	font-size: clamp(0.8rem, 2vw, 1.2rem);
	display: flex;
	align-items: center;
	gap: 1rem;
}

@media only screen and (max-width: 600px) {
	.fullSize * {
		display: none;
	}
}
