@keyframes fade {
	100% {
		background: linear-gradient(90deg, #333333, #3d3d3d, #333333);
		background-size: 200% 200%;
		background-position: -100%, 0%;
	}
	0% {
		background: linear-gradient(90deg, #333333, #3d3d3d, #333333);
		background-size: 200% 200%;

		background-position: 100%, 0%;
	}
}

:root {
	--fade: fade;
	--gray: rgb(91, 91, 91);
	--red: rgb(220, 110, 110);

	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: rgb(31, 31, 31);
}

#root {
	min-height: 100vh;
	height: 100vh;
}

* {
	box-sizing: border-box;
	color: rgb(246, 246, 246);
	font-family: 'Helvetica', 'Arial', sans-serif;
	padding: 0;
	margin: 0;
}
