.formContainer {
	display: grid;
	place-items: center;
	padding-top: 4%;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	gap: 1rem;

	width: 100%;
	max-width: 60rem;
	padding-inline: 10vw;
}

.form div {
	display: grid;
	width: 100%;
	gap: 0.1rem;
}

.form label {
	font-family: Roboto Mono;
	font-size: 1rem;
}

.form button {
	margin-top: 1rem;
}

.form .error {
	font-size: 1.2rem;
	color: var(--red);
	width: 100%;
	margin-right: auto;
}

.form div.error {
	padding: 0.8rem;
	border-radius: 1rem;
	background-color: rgba(255, 110, 110, 200);
}
