.header {
	padding-block: 3rem;
	padding-inline: 5%;

	gap: 0.8rem;

	display: flex;
	justify-content: start;
	align-items: center;
}

.header h1 {
	font-size: clamp(2rem, 4vw, 3rem);
	padding-right: 2rem;
}

.header > div {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.header .authButtons {
	margin-left: auto;
}
