.button,
.skeleton {
	border: 2px solid transparent;
	border-radius: 0.8rem;
	padding: 0.6rem;
}

.skeleton {
	animation: 1s ease-in infinite var(--fade);
}

.button {
	font-size: 0; /* imageis qvemot adgils ashorebs*/
	cursor: pointer;
	background-color: rgb(31, 31, 31);
	border: 2px solid var(--gray);
}

.button:active {
	background-color: rgb(51, 51, 51);
}

.button:disabled {
	opacity: 0.5;
}

.active {
	border-color: white;
}
